.containerDetail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 3rem;
    margin: 0;
    gap: 2rem;
    background-color: #000000;
}
.containerDetail img {
    width: 31.25rem;
    height: 31.25rem;
}
.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.containerInfo h3 {
    color: #ffffff;
}