.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 3rem;
    gap: 2rem;
}
.container img {
    width: 31.25rem;
    height: auto;
}
.containerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.containerInfo h3 {
    color: #ffffff;
}