header { 
    max-width: 75rem;
    display : flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0;

}
nav {
    display: flex;
    align-items: center;
    gap: 1rem; 
}
nav a {
    display: flex;
    color: #000000;
}